{{!-- Used as menu trigger to display post-list --}}
{{#contentFor 'dropNavMenu'}}
<li>
    <a id="drop-the-nav" class="drop nav" href="#"><i class="aecon-menu"></i></a>
    <a id="collapse-the-nav" class="drop nav" href="#"><i class="aecon-close"></i></a>
</li>
{{/contentFor}}

{{!-- The Droppable Post List --}}
{{#contentFor 'dropNav'}}
{{#if posts}}
<nav role="navigation" class="droppable nav hiden">
    <div class="content divider">
        <h2 class="stretched">All Posts</h2>
    </div>

    {{!-- The Post List --}}
    {{#if posts}}
        {{#foreach posts}}
    <article class="post item nav">

        {{!-- Post Date --}}
        <time class="post date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>

        {{!-- Post Title --}}
        <h3>
            <a href="{{url}}">{{title}}</a>
        </h3>

        {{!-- Post Excerpt --}}
        <p>
            {{excerpt words=20}}
        </p>

    </article>
        {{/foreach}}

        {{!! After all the posts, we have the previous/next pagination links }}
        {{pagination}}

    {{else}}
    <article class="post item nav">
        <h3>
            No Posts Available.
        </h3>
    </article>
    {{/if}}

</nav>
{{/if}}
{{/contentFor}}