{{#foreach posts}}
<article class="post item nav">
    <span class="post date"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span>
    <h3>
        <a href="{{url}}">{{title}}</a>
    </h3>
    <p>
        {{excerpt}}
    </p>
</article>
{{/foreach}}
{{!! After all the posts, we have the previous/next pagination links }}
{{!-- {{pagination}} --}}