{{!< default}}

{{> header-i}}

<main id="wrapper">

    {{!-- Headline --}}
    <div {{#if @blog.cover}}style="background-image: url({{@blog.cover}});"{{/if}} class="headline image covered">
        <div class="container full" role="main">

            {{!-- Output the first post --}}
            {{#foreach posts}}
                {{#if @first}}
            <article class="vertically centered hero unit">
                <header>

                    {{!-- post date --}}
                    <time class="post date" datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>

                    {{!-- post title --}}
                    <h1><a href="{{url}}">{{title}}</a></h1>{{!-- /post title --}}

                </header>
            </article>

            {{!-- post read more --}}
            <a href="{{url}}" class="btn btn-primary btn-lg btn-cta">Read More</a>
                {{/if}}
            {{/foreach}}

        </div>
    </div>

</main>