{{!< default}}

{{> header-ii}}

<main id="wrapper">

    {{!-- The Post --}}
    {{#post}}
    <article id="main-content-area" class="{{post_class}} container full" role="main">

        {{!-- Post Header --}}
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-3">

                    {{!-- Post icon --}}
                    <i class="post icon aecon-bookmark"></i>

                    {{!-- Post Meta Top --}}
                    <div class="post meta">

                        {{!-- Post Date --}}
                        <time class="post date" datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>

                        <div class="dot separator">.</div>
                        
                        {{!-- Post Author --}}
                        <span class="post author">{{author.name}}</span>

                    </div>

                    {{!-- Post Title --}}
                    <header>
                        <h1>{{{title}}}</h1>
                    </header>

                </div>
            </div>
        </div>

        {{!-- Post Content --}}
        <div class="post content">
            <div class="container">
                <div class="row">


                    {{!-- The Content --}}
                    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-3 the content">
                        {{content}}
                    </div>

                    {{!-- About The Author --}}
                    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-3">
                        
                        <aside class="in-post meta">

                            {{!-- Meta Section Title --}}
                            <h4 class="half stretched">About The Author</h4>

                            {{!-- Meta Section Content --}}
                            <div class="meta content">

                                {{!-- Author Meta --}}
                                <div class="meta author">

                                    {{!-- Author Avatar --}}
                                    {{#if author.image}}
                                    {{#if author.website}}<a href="{{author.website}}">{{/if}}
                                    <img src="{{author.image}}" alt="avatar" class="author avatar small pull-left">
                                    {{#if author.website}}</a>{{/if}}
                                    {{/if}}

                                    {{!-- Author Name --}}
                                    <div class="author name">
                                    {{#if author.website}}<a href="{{author.website}}">{{/if}}
                                    {{author.name}} 
                                    {{#if author.website}}</a>{{/if}}
                                    </div>

                                    {{!-- Author Bio --}}
                                    <p>{{author.bio}}</p>

                                    {{!-- Author Website --}}
                                    

                                </div>

                            </div>

                        </aside>

                        {{!-- Tags --}}
                        <aside class="in-post meta">

                            {{!-- Meta Section Title --}}
                            <h4 class="half stretched">Tags</h4>

                            {{!-- Meta Section Content --}}
                            <div class="meta content">

                                {{!-- Tags Meta --}}
                                <p class="meta taxonomy">{{#if tags}}{{tags separator=", "}}{{/if}}
                                </p>
                            </div>

                        </aside>


                        {{!-- Share --}}
                        <aside class="in-post meta">

                            {{!-- Meta Section Title --}}
                            <h4 class="half stretched">Share this post</h4>

                            {{!-- Meta Section Content --}}
                            <div class="meta content">

                                {{!-- Share Meta --}}
                                <div class="meta social">
                                    <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="icon-twitter-bird"></i>
                                    </a>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="icon-facebook"></i>
                                    </a>
                                    <a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="icon-googleplus-rect"></i>
                                    </a>
                                </div>

                            </div>

                        </aside>

                    </div>
                    
                </div>
            </div>
        </div>
        
        <hr>

        {{!-- Disqus Thread Container--}}
        <div class="post content">
            <div class="container">
                
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-3 the content">
                        
                        {{!-- Disqus Thread --}}
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            var disqus_shortname = 'ghostaestik'; // required: replace example with your forum shortname
                            var disqus_identifier = '{{post.id}}'; // make sure to use the post.id as an identifier, otherwise disqus will use the pages url per default, which might be problematic...

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

                    </div>
                </div>
            </div>
        </div>

    </article>
    {{/post}}

</main>

<!-- FOOTER-->
{{> footer}}